* {
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: aliceblue;
    border: 2px solid black;
    padding: 20px;
    border-radius: 1%;
    color: rgb(63, 63, 80);
}

.link {
    background-color: rgb(43, 61, 43);
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 13px;
    font-size: 15px;
    border: 1px solid rgb(29, 41, 29);
    border-radius: 5%;
}

nav {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: 10px;
    padding: 30px;
    border-radius: 2%;
}

img {
    width: 100%;
    border-radius: 1%;
}

h1 {
    background-color: rgb(184, 165, 190);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(50, 71, 50);
    padding: 10px;
    margin: 15px;
}

.foszoveg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-radius: 2%;
    padding: 5px;
}

.kep {
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 3%;
}

p {
    text-align: justify;
}

.ketszoveg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-radius: 2%;
    padding: 10px;
}

#jellemzo {
    background-color: rgb(130, 75, 141);
    color: white;
    text-align: left;
    padding: 5px;
    border-left: 5px solid white;
    border-style: none none dashed solid;
    margin: 10px;
}

ul {
    padding: 10px;
    margin: 10px;
}

li {
    margin: 20px;
}

.kisszoveg {
    background-color: rgb(247, 231, 213);
    border: 2px solid black;
    border-radius: 1%;
    margin: 10px;
}

.kekszoveg {
    background-color: rgb(208, 222, 241);
}

#fajta {
    background-color: rgb(90, 141, 75);
    color: white;
    text-align: left;
    padding: 5px;
    border-left: 5px solid white;
    border-style: none none dashed solid;
    margin: 10px;

}

#fajtaszov {
    margin: 15px;
}

ol {
    margin: 10px;
    padding: 10px;
}

footer {
    border: 2px solid black;
    border-radius: 1%;
    padding: 20px;
}

h3 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px;
    border-style: none none dotted none;
    font-size: 22px;
    text-align: left;
    margin: 15px;
    margin-top: 20px;
    padding: 5px;
}

#hodlink {
    color: rgb(168, 62, 20);
    text-decoration: dotted;
    margin-bottom: 20px;
}

#wiki {
    margin-top: 10px;
}

.kiscim {
    color: rgb(54, 87, 54);
    border-style: none none dashed solid;
    border-left: 5px solid rgb(54, 87, 54);
    padding: 10px;
    margin: 15px;
}

.piciszoveg {
    margin: 20px;
    padding: 10px;
    text-align: justify;
}

@media screen and (max-width:700px) {
    .linkek{
        grid-template-columns: 1fr;
    }
    .ketszoveg {
        grid-template-columns: 1fr;
    }
    .foszoveg {
        grid-template-columns: 1fr;
    }  
}